body{
    background-color: #89b0ae;
    text-align: center;
}

.Container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 700px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    height: 216px;
    width: 216px;
    border-radius:  15px; ;
    border: none;
    box-shadow: 2px 2px 8px rgb(0,0,0,0.3);
    font-size: 80px;
    font-weight: bold;
    color: #323644;
    background-color: #405251;
}

#reset-btn{
    padding: 10px;
    margin-top: 5px;
    font-size: 35px;
    border-radius: 15px;
    border: none;
    background-color: black;
    color: white;
}

.winner{
    padding-top: 5px;
    font-size: 50px;
    color: rgb(71,109,124);
    font-weight: bold;
}

.new-btn{
    margin-top: 5px;
    background-color: black;
    color: #f6ffff;
    padding: 10px;
    font-size: 35px;
    border-radius: 10px;
    border: none;
}

h1{
    font-size: 30px;
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}

@media (max-width: 1024px) {
    .game {
        height: 500px;
        width: 500px;
        gap: 15px;
    }

    .box {
        height: 150px;
        width: 150px;
        font-size: 60px;
    }

    #reset-btn,
    .new-game {
        font-size: 25px;
    }

    .winner {
        font-size: 35px;
    }
}



@media (max-width: 600px) {
    .game {
        height: 90vmin;
        width: 90vmin;
        gap: 10px;
    }

    .box {
        height: 28vmin;
        width: 28vmin;
        font-size: 40px;
    }

    h1 {
        font-size: 22px;
    }

    #reset-btn,
    .new-game {
        font-size: 18px;
        padding: 8px;
    }

    .winner {
        font-size: 28px;
    }

    #msg {
        font-size: 6vmin;
    }
}
